<carousel class="carousel carousel-banner">
  <slide>
    <img
      src="../../../assets/img/banner1.jpg"
      alt="first slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide>
    <img
      src="../../../assets/img/banner2.jpg"
      alt="second slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide>
    <img
      src="../../../assets/img/banner3.png"
      alt="third slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide>
    <img
      src="../../../assets/img/banner4.jpg"
      alt="third slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <slide>
    <img
      src="../../../assets/img/banner5.jpg"
      alt="third slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block"></div>
  </slide>
  <div class="main-text hidden-xs">
    <div class="col-12">
      <h1 class="display-4 text-center convi-title">CONVI</h1>
      <br />
      <h3 class="display-4 text-center main-subtitle">
        Consulta de Violencia
      </h3>
    </div>
  </div>
</carousel>
