<div class="row flex-row-reverse">
  <!-- Map -->
  <div class="map-panel col-lg-9 col-lg-push-6 bg-dark rounded-right">
    <div
      class="img-fluid"
      id="mapid"
      leaflet
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
    ></div>
  </div>
  <!-- ./Map -->
  <!-- Info panel -->
  <div class="info-panel card col-lg-3 col-lg-pull-6 bg-light">
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold">
        PANEL DE INFORMACIÓN
      </h5>
      <ul class="list-group text-center">
        <li class="list-group-item list-group-item-dark">Delitos*</li>
        <li class="list-group-item">
          <span class="badge badge-warning badge-pill">
            {{ cifraHomicidios }}</span
          >
          homicidios
        </li>

        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">
            {{ cifraRoboAutos }}
          </span>
          robos de auto
        </li>
        <li class="list-group-item">
          <span class="badge badge-danger badge-pill">
            {{ cifraSecuestros }}
          </span>
          secuestros
        </li>
      </ul>
      <small class="form-text text-muted text-justify"
        >* Datos obtenidos del
        <a href="https://datos.cdmx.gob.mx"
          >Gobierno de la Ciudad de México</a
        ></small
      >
      <br />
      <h5 class="text-center">Reportes recientes de la alcaldía</h5>
      <ul class="list-group reporte-mapa">
        <li *ngFor="let reporte of reportes" class="list-group-item">
          <div>
            <h6>{{ reporte.titulo }}</h6>
            <div class="mic-info">
              Por: <span class="text-primary">{{ reporte.autor }}</span>
              {{ reporte.fecha }}<br />
              Dirección:
              <span class="text-primary">{{ reporte.direccion }}</span>
            </div>
          </div>
          <div class="comment-text">
            {{ reporte.descripcion }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./Info panel -->
</div>
