$breakpoint-md: 768px;
$breakpoint-lg: 990px;

/* Loader obtenido de
*https://loading.io/css/
*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  padding: inherit;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  background: rgba(39, 42, 43, 0.65);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
  left: 0;
  right: 0;
  button {
    margin: 5px;
  }
  &:hover {
    opacity: 1;
  }
}

.info-panel {
  font-size: 15px;
  max-height: 630px;
  min-height: 630px;
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
  .reporte-mapa {
    font-size: 11px;
  }
}

.map-panel {
  padding: 15px 9px 15px 9px;
  #mapid {
    border-radius: 2%;
    height: 100%;
  }
}

@media (max-width: $breakpoint-lg) {
  #mapid {
    height: 500px !important;
  }
}

@media (max-width: $breakpoint-md) {
  .map-panel {
    padding: 3px 8px 3px 8px;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0px !important;
  }
}
