<div class="row">
  <!-- Menu de seleccion -->
  <div class="info-panel card col-md-3 col-md-pull-6 bg-light">
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold">REPORTES</h5>
      <ul class="list-group" style="cursor: pointer;">
        <li class="list-group-item list-group-item-action active">
          Ver reportes
        </li>
        <li class="list-group-item list-group-item-action">
          Realizar reporte
        </li>
      </ul>
    </div>
  </div>
  <!-- /Menu de de seleccion -->
  <!-- Reportes  -->
  <div
    *ngIf="showReportes"
    class="report-panel col-md-9 bg-dark report-section rounded-right d-none"
  >
    <select class="browser-default custom-select">
      <option selected>Ordenar por:</option>
      <option value="1">Fecha</option>
      <option value="2">Alcaldía</option>
    </select>
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          <h6>Robo en bazar de Sta. Anita</h6>
          <div class="mic-info">
            Por: <span class="text-primary">Anónimo</span> 16 de septiembre del
            2019<br />
            Alcaldía: <span class="text-primary">Tlalpan</span><br />
            Dirección:
            <span class="text-primary">Ejidos de Bartolomé, 313</span>
          </div>
        </div>
        <div class="comment-text">
          El día viernes sufrí un robo en el mercado de Sta. Anita por parte de
          un señor de altura aprox. de 1.70 mts con una sudadera roja y jeans
        </div>
        <div class="action text-right">
          <button
            type="button"
            class="btn btn-primary btn-xs"
            title="Añadir comentario"
          >
            <small><span class="add-comment">Añadir comentario</span></small>
          </button>
        </div>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          <h6>Acoso en Bar Incognito</h6>
          <div class="mic-info">
            Por: <span class="text-primary">Anónimo</span> 13 de septiembre del
            2019<br />
            Alcaldía: <span class="text-primary">Xochimilco</span><br />
            Dirección:
            <span class="text-primary">Barranca las Palmas #35</span>
          </div>
        </div>
        <div class="comment-text">
          Hace 1 semana acudí a este bar en donde unos hombres ebrios nos
          estaban molestando, fuimos a realizar el reporte con el gerente pero
          este nunca nos atendio
        </div>
        <div class="action text-right">
          <button
            type="button"
            class="btn btn-primary btn-xs"
            title="Añadir comentario"
          >
            <small><span class="add-comment">Añadir comentario</span></small>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <!-- /Reportes -->
  <!-- Formulario reportes -->
  <div
    *ngIf="showFormulario"
    class="report-form-panel col-md-9 bg-dark report-form-section rounded-right"
  >
    <form
      [formGroup]="reporteForm"
      class="bg-light report-form text-center"
      novalidate
    >
      <div class="form-group col-sm-12">
        <h5 class="text-primary font-weight-bold">
          Formulario para envío de reporte
        </h5>
      </div>
      <!-- Título -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Título </label>
        <input
          class="form-control"
          formControlName="titulo"
          placeholder="i.e., Robo en Av. XX a la altura del supermercado XX"
        />
      </div>
      <div
        *ngIf="
          reporteForm.controls['titulo'].invalid &&
          (reporteForm.controls['titulo'].dirty ||
            reporteForm.controls['titulo'].touched)
        "
        class="alert alert-danger form-group"
      >
        <div *ngIf="reporteForm.controls['titulo'].errors.required">
          Se requiere título
        </div>
      </div>
      <!-- Anonimato -->
      <div class="form-group">
        <div class="d-block my-3">
          <label class="center-block font-weight-bold">Anonimato</label>
          <div class="custom-control custom-radio">
            <input
              id="noanonimo"
              type="radio"
              class="custom-control-input"
              value="noanonimo"
              name="anonimato"
              formControlName="anonimato"
            />
            <label class="custom-control-label" for="noanonimo"
              >Enviar con nombre</label
            >
          </div>

          <div class="custom-control custom-radio">
            <input
              id="anonimo"
              type="radio"
              class="custom-control-input"
              value="anonimo"
              name="anonimato"
              formControlName="anonimato"
            />
            <label class="custom-control-label" for="anonimo"
              >Enviar de forma anónima</label
            >
          </div>
        </div>
      </div>
      <div
        *ngIf="
          reporteForm.controls['anonimato'].invalid &&
          (reporteForm.controls['anonimato'].dirty ||
            reporteForm.controls['anonimato'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="reporteForm.controls['anonimato'].errors.required">
          Se requiere elegir una forma de envío
        </div>
      </div>
      <!-- Alcaldia -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Alcaldía</label>
        <div class="custom-select">
          <select class="form-control text-center" formControlName="alcaldia">
            <option value="" disabled>Seleccione la alcaldía</option>
            <option
              *ngFor="let alcaldia of alcaldias"
              [ngValue]="alcaldia"
              (change)="cambiarCiudad()"
              >{{ alcaldia }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            reporteForm.controls['alcaldia'].invalid &&
            (reporteForm.controls['alcaldia'].dirty ||
              reporteForm.controls['alcaldia'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="reporteForm.controls['alcaldia'].errors.required">
            Se requiere elegir una alcaldia
          </div>
        </div>
      </div>
      <!-- Dirección -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Dirección </label>
        <input
          class="form-control"
          formControlName="direccion"
          placeholder="i.e., Lomas Estrella #333"
        />
      </div>
      <div
        *ngIf="
          reporteForm.controls['direccion'].invalid &&
          (reporteForm.controls['direccion'].dirty ||
            reporteForm.controls['direccion'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="reporteForm.controls['direccion'].errors.required">
          Se requiere dirección
        </div>
      </div>
      <!-- Descripcion -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Descripción </label>
        <textarea
          class="form-control"
          formControlName="descripcion"
          rows="4"
          placeholder="Descripción detalla del suceso y entendible para otras personas"
        ></textarea>
      </div>
      <div
        *ngIf="
          reporteForm.controls['descripcion'].invalid &&
          (reporteForm.controls['descripcion'].dirty ||
            reporteForm.controls['descripcion'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="reporteForm.controls['descripcion'].errors.required">
          Se requiere descripción
        </div>
      </div>
      <!-- Enviar -->
      <button
        type="submit"
        [disabled]="reporteForm.pristine || reporteForm.invalid"
        class="btn btn-primary"
      >
        Enviar reporte
      </button>
    </form>
  </div>
  <!-- /Formulario reportes -->
</div>
