<div class="row">
  <!-- Menu de seleccion -->
  <div class="info-panel card col-md-4 col-md-pull-6 bg-light">
    <div class="card-body">
      <h5 class="card-title text-center font-weight-bold">REPORTES</h5>
      <ul class="list-group" style="cursor: pointer;">
        <button
          [className]="
            showReportes
              ? 'list-group-item list-group-item-action active'
              : 'list-group-item list-group-item-action inactive'
          "
          (click)="mostrarReportes()"
        >
          Ver reportes
        </button>

        <button
          [className]="
            showFormulario
              ? 'list-group-item list-group-item-action active'
              : 'list-group-item list-group-item-action inactive'
          "
          (click)="mostrarFormulario()"
        >
          Realizar reporte
        </button>
      </ul>
    </div>
  </div>
  <!-- /Menu de de seleccion -->
  <!-- Reportes  -->
  <div
    *ngIf="showReportes"
    class="report-panel col-md-8 bg-dark report-section rounded-right"
  >
    <label class="center-block text-white">Ordenar por: </label>
    <select
      class="browser-default custom-select"
      (change)="cambiarOrden($event.target.value)"
    >
      <option selected value="DESC">Fecha (más recientes primero)</option>
      <option value="ASC">Fecha (más antiguos primero)</option
      ><option value="ALC">Alcaldía (orden alfabético)</option>
    </select>
    <ul class="list-group">
      <li *ngFor="let reporte of reportes" class="list-group-item">
        <div>
          <h6>{{ reporte.titulo }}</h6>
          <div class="mic-info">
            Por: <span class="text-convi">{{ reporte.autor }}</span>
            {{ reporte.fecha }}<br />
            Alcaldía: <span class="text-convi">{{ reporte.alcaldia }}</span
            ><br />
            Dirección:
            <span class="text-convi">{{ reporte.direccion }}</span>
          </div>
        </div>
        <div class="comment-text">
          {{ reporte.descripcion }}
        </div>
        <div class="action text-right">
          <button
            type="button"
            class="btn btn-transparent btn-xs"
            title="Añadir comentario"
          >
            <small><span class="add-comment">😧</span></small>
          </button>
          <button
            type="button"
            class="btn btn-transparent btn-xs"
            title="Añadir comentario"
          >
            <small><span class="add-comment">😡</span></small>
          </button>
          <button
            type="button"
            class="btn btn-transparent btn-xs"
            title="Añadir comentario"
          >
            <small><span class="add-comment">😢</span></small>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <!-- /Reportes -->
  <!-- Formulario reportes -->
  <div
    *ngIf="showFormulario"
    class="report-form-panel col-md-8 bg-dark report-form-section rounded-right"
  >
    <form
      [formGroup]="reporteForm"
      (ngSubmit)="enviarReporte()"
      class="bg-light report-form text-center"
      novalidate
    >
      <div class="form-group col-sm-12">
        <h5 class="text-convi font-weight-bold">
          Formulario para envío de reporte
        </h5>
      </div>
      <!-- Título -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Título </label>
        <input
          class="form-control"
          formControlName="titulo"
          placeholder="i.e., Robo en Av. XX a la altura del supermercado XX"
        />
      </div>
      <div
        *ngIf="
          reporteForm.controls['titulo'].invalid &&
          (reporteForm.controls['titulo'].dirty ||
            reporteForm.controls['titulo'].touched)
        "
        class="alert alert-danger form-group"
      >
        <div *ngIf="reporteForm.controls['titulo'].errors.required">
          Se requiere título
        </div>
      </div>
      <!-- autor -->
      <div class="form-group">
        <div class="d-block my-3">
          <label class="center-block font-weight-bold">Autor</label>
          <div class="custom-control custom-radio">
            <input
              id="noanonimo"
              type="radio"
              class="custom-control-input"
              value="{{ currentUser.nombre + ' ' + currentUser.apellido }}"
              name="autor"
              formControlName="autor"
            />
            <label class="custom-control-label" for="noanonimo"
              >{{ currentUser.nombre + " " + currentUser.apellido }} (yo)</label
            >
          </div>

          <div class="custom-control custom-radio">
            <input
              id="anonimo"
              type="radio"
              class="custom-control-input"
              value="Anónimo"
              name="autor"
              formControlName="autor"
            />
            <label class="custom-control-label" for="anonimo"
              >Enviar de forma anónima</label
            >
          </div>
        </div>
      </div>
      <div
        *ngIf="
          reporteForm.controls['autor'].invalid &&
          (reporteForm.controls['autor'].dirty ||
            reporteForm.controls['autor'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="reporteForm.controls['autor'].errors.required">
          Se requiere elegir una forma de envío
        </div>
      </div>
      <!-- Alcaldia -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Alcaldía</label>
        <div class="custom-select">
          <select class="form-control text-center" formControlName="alcaldia">
            <option value="" disabled>--Alcaldía--</option>
            <option
              *ngFor="let alcaldia of alcaldias"
              [ngValue]="alcaldia"
              (change)="cambiarCiudad()"
              >{{ alcaldia }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            reporteForm.controls['alcaldia'].invalid &&
            (reporteForm.controls['alcaldia'].dirty ||
              reporteForm.controls['alcaldia'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="reporteForm.controls['alcaldia'].errors.required">
            Se requiere elegir una alcaldia
          </div>
        </div>
      </div>
      <!-- Dirección -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Dirección </label>
        <input
          class="form-control"
          formControlName="direccion"
          placeholder="i.e., Lomas Estrella #333"
        />
      </div>
      <div
        *ngIf="
          reporteForm.controls['direccion'].invalid &&
          (reporteForm.controls['direccion'].dirty ||
            reporteForm.controls['direccion'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="reporteForm.controls['direccion'].errors.required">
          Se requiere dirección
        </div>
      </div>
      <!-- Descripcion -->
      <div class="form-group">
        <label class="center-block font-weight-bold">Descripción </label>
        <textarea
          class="form-control"
          formControlName="descripcion"
          rows="4"
          placeholder="Descripción detalla del suceso y entendible para otras personas"
        ></textarea>
      </div>
      <div
        *ngIf="
          reporteForm.controls['descripcion'].invalid &&
          (reporteForm.controls['descripcion'].dirty ||
            reporteForm.controls['descripcion'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="reporteForm.controls['descripcion'].errors.required">
          Se requiere descripción
        </div>
      </div>
      <!-- Enviar -->
      <button
        type="submit"
        [disabled]="reporteForm.pristine || reporteForm.invalid"
        class="btn btn-convi"
      >
        Enviar reporte
      </button>
    </form>
  </div>
  <!-- /Formulario reportes -->
</div>
