<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header text-center">Registro de cuenta</h4>
    <div class="card-body">
      <div *ngIf="success" class="alert alert-success text-center" role="alert">
        ¡Usuario creado con exito!<br />
        <form (ngSubmit)="goToLogin()">
          <button class="btn btn-link">
            Puede iniciar sesión
          </button>
        </form>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            formControlName="nombre"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
          />
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Se requiere nombre</div>
          </div>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido(s)</label>
          <input
            type="text"
            formControlName="apellido"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }"
          />
          <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
            <div *ngIf="f.apellido.errors.required">Se requiere apellido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input
            type="text"
            formControlName="correo"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.correo.errors }"
          />
          <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
            <div *ngIf="f.correo.errors.required">Se requiere usuario</div>
          </div>
        </div>
        <div class="form-group">
          <label for="contrasenia">Contraseña</label>
          <input
            type="password"
            formControlName="contrasenia"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.contrasenia.errors }"
          />
          <div
            *ngIf="submitted && f.contrasenia.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.contrasenia.errors.required">
              Se requiere contraseña
            </div>
          </div>
        </div>
        <div class="text-center">
          <button [disabled]="loading" class="btn btn-convi text-center">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Signup
          </button>
        </div>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
