/* You can add global styles to this file, and also import other style files */

/* Para el carousel generado por
ng-Bootstrap. No se puede agregar en los estilos
del componente que lo implementa porque se genera
en runtime de forma dinámica, no es html 'estático' */
.carousel-indicators li {
  background-color: gray !important;
}

body {
  background-image: url('src/assets/img/bg-pattern-2.png');
  font-family: 'Open-Sans', sans-serif !important;
}

h1,
.main-subtitle {
  font-family: 'Oswald', sans-serif !important;
}

/* Sustitución del color primary al color principal de CONVI */
.list-group-item.active {
  background-color: #5f9ea0 !important;
  border-color: #5f9ea0 !important;
}

.text-convi {
  color: #5f9ea0 !important;
}

.btn-convi {
  color: #fff !important;
  background-color: #5f9ea0 !important;
  border-color: #5f9ea0 !important;
}

.btn-convi:hover {
  color: #fff;
  background-color: #4b7e80 !important;
  border-color: #4b7e80 !important;
}

.btn-convi:focus,
.btn-convi.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-convi.disabled,
.btn-convi:disabled {
  color: #fff !important;
  background-color: #5f9ea0 !important;
  border-color: #5f9ea0 !important;
}

/* Evita que se muestren flechas del carousel,
se necesita aqui porque como el carousel se crea
en runtime, no se aplican los estilos del componente */
.carousel-banner {
  .carousel-control {
    display: none !important;
  }
}
